<%= form_for(@tweet, url: choose_new_or_edit) do |f| %>
 <% if @tweet.errors.any? %>
 
   <h2><%= @tweet.errors.count %>件のエラーがあります。</h2>
   
   <ul>
     <% @tweet.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     
   </ul>
 
 <% end %>
  
  
  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit %>
<% end %>

<%= link_to "一覧を見る", tweets_path %>