<div class="container">

<h1>確認画面</h1>

<%= form_for(@tweet) do |f| %>

    <%= f.hidden_field :content %>
    
    <p>本文：<%= @tweet.content %></p>
    <p><%= f.submit "投稿",class: 'btn btn-primary btn-block' %></p>
<% end %>

<%= form_for(@tweet, url: tweets_path, method: 'get') do |f| %>
  <%= f.hidden_field :content %>
  <p><%= f.submit "もどる", name: 'back',class: 'btn btn-primary btn-block' %></p>
<% end %>

</div>