<p><%= notice %></p>

<h1>ツイート一覧</h1>

<% @tweets.each do |tweet| %>

    <p>コンテンツ：<%= tweet.content %></p>
    <p><%= link_to "ツイートを編集する", edit_tweet_path(tweet.id) %></p>
    <p><%= link_to "ツイートを削除する", tweet_path(tweet), method: :delete, data: { confirm: '本当に削除していいですか？' } %></p>
    
<% end %>

<%= link_to "つぶやく", new_tweet_path %>